* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #424242;
    font-family: 'Ropa Sans', sans-serif;
}

header {
    background-image: url(images/header-background.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center;
    min-height: 347px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
}

h1 {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 68.61px;
    letter-spacing: 0.15em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
    color: #FFD600;
    margin-left: 1rem;
    max-width: 500px;
    text-transform: uppercase;
}

h2 {
    font-family: Ropa Sans;
    font-size: 30px;
    font-weight: 400;
    line-height: 32.16px;
    letter-spacing: 0.2em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFD600;
}


.cardDisplay {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    min-height: 500px;
    min-width: 20rem;
    gap: 0px;
    border-radius: 10px 10px 0px 0px ;
    margin-top: -2rem;
    margin-bottom: 3rem;
    background-color: #C4C4C4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}


.charTitle {
    width: 100%;
    background-color: #535556;
    border-radius: 10px 10px 0px 0px ;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailTitle {
    width: 100%;
    background-color: #748687;
    border-radius: 10px 10px 0px 0px ;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    background: #8E8E8E;
    list-style-type: none;
    color: white;
    min-height: 30px;
    padding-left: 1rem;
    line-height: 30px;
    cursor: pointer;
}

li:hover {
    background: rgba(68, 68, 68, 1);
    color: white;
}

li:nth-child(odd) {
    background: #E1DEDE;
    color: #535556;
}

li:nth-child(odd):hover {
    background: rgba(68, 68, 68, 1);
    color: white;
}

h3 {
    font-family: 'Roboto' sans-serif;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 35.16px;
    letter-spacing: 0.2em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 1rem;
}

p {
    font-family: 'Roboto' sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    letter-spacing: 0.2em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 1rem;
    padding: .2rem;
}

.personDetail {
    background-color: #C4C4C4;
}

.planetDetail {
    background-color:#8E8E8E ;
}